body {
	background: #000;
	background-image: url("WavesDark.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

body,
h1,
h2,
h3,
a,
a:link {
  color: #F6F4E7;
  text-shadow: none;
}

a:link {
	text-decoration: none;
	background: none;
}

header.brand h1 {
	/*color: #aaa;*/
	color: #fff;
}

a:hover,
h1.content-title a:hover,
header.brand a:hover {
    color: #4D8E96;
}

h1.content-title {
    color: #DEE3C1;
}

.sidenote, .marginnote {
	color: #fff;
}