body {
	background: #000;
	background-image: url("WavesDark.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

body,
h1,
h2,
h3,
a,
a:link {
  color: #F6F4E7;
  text-shadow: none;
}

a:link {
	text-decoration: none;
	background: none;
}

header.brand h1 {
	/*color: #aaa;*/
	color: #4D8E96;
}

header.brand h2 {
	color: #fff;
	font-size: 1.2rem;
	margin-top: 1rem;
}

a:hover,
h1.content-title a:hover,
header.brand a:hover {
    color: #DEE3C1;
}

h1.content-title {
    color: #4D8E96;
}

.sidenote, .marginnote {
	color: #fff;
}

img {
	border-style: solid;
	border-radius: 1px;
	border-width: 1px;
	border-color: #fff;
}

.content-meta,
.content-meta .author {
	color: #fff;
}

footer.page-footer {
	color: #fff;
}