@font-face {
	font-family: "Equity Text A";
	src: url("/fonts/Equity Text A Regular.otf");
}

html, button, input, select, textarea, p, nav, section, article, header, footer, .pure-g [class*="pure-u"] {
    font-family: "Equity Text A", -apple-system, "San Francisco", "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue", "Lucida Grand", sans-serif;
}

body {
	background: #000;
	background-image: url("WavesDark.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

body,
h1,
h2,
h3 {
  color: #F6F4E7;
  text-shadow: none;
}

a,
a:link {
	color: #4D8E96;
	text-shadow: none;
}


a:link {
	text-decoration: none;
	background: none;
}

header.brand h1 {
	color: #4D8E96;
}

header.brand h2 {
	color: #fff;
	font-size: 1.2rem;
	margin-top: 1rem;
}

a:hover,
h1.content-title a:hover,
header.brand a:hover {
    color: #DEE3C1;
}

h1.content-title {
    color: #4D8E96;
}

.sidenote, .marginnote {
	color: #fff;
}

img {
	border-style: solid;
	border-radius: 1px;
	border-width: 1px;
	border-color: #fff;
}

.content-meta,
.content-meta .author {
	color: #fff;
}

footer.page-footer {
	color: #fff;
}

footer.page-footer p {
	font-size: 1.1rem;
}

footer.page-footer hr {
	border-color: rgba(250, 250, 250, 0.45);
	width: 15%;
}

.guestpost {
	font-variant: small-caps;
	font-weight: bold;
	padding: 0 1rem 0 1rem;
	border-style: solid;
	border-radius: 1px;
	border-width: 1px;
	border-color: #4D8E96;
	background-color: #4D8E96;
}

.read-on-arrow {
	font-variant: small-caps;
	color: #4D8E96;
}

.footer-nav {
	font-variant: small-caps;
	text-transform: lowercase;
}

.footer-nav a {
	color: #4D8E96;
}

hr {
	border-color: rgba(250, 250, 250, 0.45);
	width: 15%;
	margin-left: 0px;
}